.svg-icons--arrow-default-dims {
  width: 40px;
  height: 40px;
}

.svg-icons--fb-dims {
  width: 32px;
  height: 32px;
}

.svg-icons--instagram-dims {
  width: 32px;
  height: 32px;
}

.svg-icons--logo-header-dims {
  width: 256px;
  height: 256px;
}

.svg-icons--vk-dims {
  width: 32px;
  height: 32px;
}
