:root {
  --content-bottom-offset: 48px;
  --content-side-offset: 24px;
  --content-top-offset: 32px;
  @media (--mediumDown) {
    & {
      --content-top-offset: 16px;
      --content-bottom-offset: 40px;
      --content-side-offset: 12px;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}

textarea,
input.text,
input[type='text'],
input[type='button'],
input[type='submit'],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

@define-mixin content-side-offset {
  padding-right: var(--content-side-offset);
  padding-left: var(--content-side-offset);
}
