*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}

textarea,
input.text,
input[type='text'],
input[type='button'],
input[type='submit'],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}
