:root {
  --color-text: #190000;
}

body {
  color: var(--color-text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.ReactModal__Overlay {
  z-index: 500;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}

textarea,
input[type='text'],
input[type='button'],
input[type='submit'],
.input-checkbox {
  appearance: none;
  -webkit-appearance: none;
}

button,
button:focus {
  outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
